.cardContainer {
  width: 16rem;
}

.cardImage {
  width: 100%;
  height: 50%;
  padding: 2em;
}

.cardBody {
  background-color: whitesmoke !important;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

#ratingStarIcon {
  height: 1em;
  width: 1em;
  position: relative;
  right: 0.1em;
}

.cardButton {
  margin: 1em 0;
  color: black !important;
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
  border-radius: 20px !important;
  font-size: small !important;
}
